<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.aemss/menu.application.title" opened="true">
        <item view="DashboardView" title="msg://com.company.aemss.view.dashboard/dashboardView.title" icon="vaadin:tree-table" />

        <item view="Event.list" title="msg://com.company.aemss.view.event/eventListView.title" icon="vaadin:calendar"/>
        <item view="Department.list" title="msg://com.company.aemss.view.department/departmentListView.title" icon="vaadin:building"/>
        <item view="Section_.list" title="msg://com.company.aemss.view.section/sectionListView.title" icon="vaadin:building-o"/>
        <item view="Student.list" title="msg://com.company.aemss.view.student/studentListView.title" icon="vaadin:group"/>
        <item view="Attendance.list" title="msg://com.company.aemss.view.attendance/attendanceListView.title" icon="vaadin:check"/>
    </menu>
    <menu id="application2" title="Faculty"  opened="true">
        <item view="User.list" title="msg://com.company.aemss.view.user/UserListView.title" icon="vaadin:user"/>
    </menu>

</menu-config>